body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #275f09;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #194967;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav a {
    color: #6b0a85;
    padding: 15px 20px;
    text-decoration: none;
}

nav a:hover {
    background: #575757;
}

main {
    padding: 20px;
    background: #710b0b;
    margin-top: 20px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #6d0b0b;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f1f1f1;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #870a0a;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}
